<div class="container">
 <div class="row">
  <h3 class="col-sm-4 bg-secondary text-center mt-5 mb-5">マイページ</h3>
 </div>
</div>

<div class="container">
   <div class="row">
    <div class="col-sm-4">
     <table>
      <tr>
       <th>登録情報</th>
       <th><%= link_to "編集する", edit_customer_path(current_customer.id), class: "btn btn-success btn-block" %></th>
      </tr>
     </table>
    </div>
   </div>
</div>

<div class="container">
 <div class="row">
  <table class="col-sm-8 table-bordered">
   <tr>
    <th class="table-secondary">氏名</th>
    <th><%= @customer.last_name %>　<%= @customer.first_name %></th>
   </tr>
     
   <tr>
    <th class="table-secondary">フリガナ</th>
    <th><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></th>
   </tr>
     
   <tr>
    <th class="table-secondary">郵便番号</th>
    <th><%= @customer.postal_code %></th>
   </tr>
     
   <tr>
    <th class="table-secondary">住所</th>
    <th><%= @customer.address %></th>
   </tr>
     
   <tr>
    <th class="table-secondary">電話番号</th>
    <th><%= @customer.telephone_number %></th>
   </tr>
     
   <tr>
    <th class="table-secondary">メールアドレス</th>
    <th><%= @customer.email %></th>
   </tr>
  </table>
 </div>
</div>

<div class="container">
   <div class="row">
    <div class="col-sm-4">
     <table>
      <tr>
       <th>配送先</th>
       <th><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-block" %></th>
      </tr>
      
      <tr>
       <th>注文履歴</th>
       <th><%= link_to "一覧を見る", edit_customer_path(@customer.id), class: "btn btn-primary btn-block" %></th>
      </tr>
     </table>
    </div>
   </div>
</div>