<div class="container">
  <div class="row">
   <div class="col-sm-10">
    <table class="table-bordered">
     <thead>
      <tr>
        <th class="table-secondary">商品名</th>
        <th class="table-secondary">単価（税込）</th>
        <th class="table-secondary">数量</th>
        <th class="table-secondary">小計</th>
        <th class="table-secondary"></th>
      </tr>
     </thead>
    
     <tbody>
      <% @cart_items.each do |cart_item| %>
       <tr>
        <th><%= cart_item.item.name %></th>
        <th><%= cart_item.item.price %></th>
        <th>
         <%= form_with model:cart_item, local:true do |f| %>
          <%= f.select :amount, *[1..9], { :selected => cart_item.amount } %>
          <%= f.submit '変更を保存', class: "btn btn-success form-control" %>
         <% end %>
        </th>
        <th><%= cart_item.item.price * cart_item.amount %></th>
        <th><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger form-control" %></th>
       </tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>
 </div>