<div class="container">
 <div class="row">
  <h3 class="col-sm-3 bg-secondary text-center mt-5 mb-5">商品詳細</h3>
 </div>
</div>

<%= attachment_image_tag @item, :image, :fill, 100, 100 %>

<div class="container">
   <div class="row">
    <table class="col-sm-8">
     <tr>
      <th>商品名</th>
      <th><%= @item.name %></th>
     </tr>
     
     <tr>
      <th>商品説明</th>
      <th><%= @item.introduction %></th>
     </tr>
     
     <tr>
      <th>税込価格</th>
      <th><%= (@item.price * 1.1).floor %>（税込）</th>
     </tr>
     
     <%= form_with model:@cart_item, local:true do |f| %>
      <%= f.hidden_field :cart_item, :value => item.id  %>
     <tr>
      <th><%= f.select :amount, *[1..9] %></th>
      <th>カートに入れる</th>
     </tr>
     <% end %>
     
    </table>
   </div>
  </div>